/* .animationBlock{
    visibility: hidden;
}
.animationBlock > * {
    visibility: visible;
} */
.animationBlock> article { z-index: index 9999; }

.animationBlock:hover > article { opacity: 0.8;}

.animationBlock> article:hover {  
    opacity: 1; 
    transition-delay: 50ms;
    transition-timing-function: ease-out;
 }

 .animationBlock> article:hover > img { 
    filter: grayscale(0);
 }
 .animationBlock> article:hover > div { 
    opacity: 1; 
 }

