/* .animationBlock{
    visibility: hidden;
}
.animationBlock > * {
    visibility: visible;
} */
.animationBlock> article { z-index: index 9999; }

.animationBlock:hover > article { opacity: 0.8;}

.animationBlock> article:hover {  
    opacity: 1; 
    transition: opacity 0.5s ease-out 50ms; 
 }

 .animationBlock> article:hover > img { 
    filter: grayscale(0);
 }
 .animationBlock> article:hover > div { 
    opacity: 1; 
 }

 /* .animationBlock > article:hover {
    opacity: 1; 
    transition: opacity 0.3s ease-out 50ms; 
  } */

