.custom-button-prev {
  position: absolute;
  top: 50%;
  left: 46px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
}

.custom-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
  right: 46px;
}

@media (max-width: 1439px) {
  .custom-button-prev,
  .custom-button-next {
    display: none;
  }
}
